.order-overlay{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.order-detail{
  width: 1000px;
  background-color: white;
  border: 2px solid grey;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.order-items{
    height: 100px;
    width: 900px;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 20px;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.item-img{
    height: 100px;
    width: 100px;
    border-radius: 5px;
    margin: 5px;
}