  .backgroundimg {
    position: relative;
    height: 800px;
    width: 1450px;
    z-index: -10;
  }

  #signinbtn {
    outline: none;
    height: 50px;
    width:100px;
    color:white;
    background-image:-webkit-image-set("./bckgrond.png")
  } 

  .HomeImg {
    height: 100vh;
    width: 210vh;
    margin: -100px -10px -50px 0;
    z-index: 1;
  } 
